.MapEditor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.MapToolbar {
  border-bottom: 1px solid #888;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.MapToolbar .palette {
  width: 64px;
  height: 64px;
  border: 1px solid #fff;
  padding: 4px;
  image-rendering: pixelated;
  cursor: pointer;
}
.MapToolbar .toolbox {
  display: flex;
  flex-direction: row;
}
.MapToolbar .toolbox > .tool {
  background-color: #642;
  background-image: url('../uibits.png');
  background-position: 0px -16px;
  background-clip: content-box;
  background-origin: content-box;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  border: 4px solid #642;
  cursor: pointer;
}
.MapToolbar .toolbox > .tool.selected {
  background-color: #876;
  border-color: #876;
}
.MapToolbar .tattle {
  background-color: #000;
  color: #fff;
  width: 4em;
  height: 1lh;
  text-align: center;
}
.MapToolbar select {
  height: 2lh;
}

.MapCanvas {
  flex: 1;
  position: relative;
}
.MapCanvas > .scroller {
  overflow: scroll;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.MapCanvas > canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 15px); /* Foolishly assuming scrollbars will be 15px */
  height: calc(100% - 15px);
  pointer-events: none;
}

.PaletteModal > canvas {
  width: 768px;
  height: 768px;
  image-rendering: pixelated;
  cursor: pointer;
}

.TilesheetEditor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}
.TilesheetEditor > .toolbar {
  border-bottom: 1px solid #888;
  display: flex;
  flex-direction: row;
  padding: 4px;
}
.TilesheetEditor > canvas {
  flex: 1;
}
.TilesheetEditor input {
  display: none;
}
.TilesheetEditor label.toggle {
  background-color: #ccc;
  color: #000;
  user-select: none;
  cursor: pointer;
  border: 1px solid #000;
  margin: 2px 0;
  padding: 4px;
}
.TilesheetEditor input:checked + label.toggle {
  background-color: #ff0;
}
.TilesheetEditor label.table {
  background-color: #ccc;
  color: #000;
  user-select: none;
  cursor: pointer;
  border: 1px solid #000;
  margin: 2px 0;
  padding: 4px;
}
.TilesheetEditor input:checked + label.table {
  background-color: #f80;
}
.TilesheetEditor .spacer {
  min-width: 5px;
  min-height: 5px;
}

.TileModal > .topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.TileModal .neighborGrid .neighbor {
  width: 16px;
  height: 16px;
  background-color: #888;
  cursor: pointer;
  user-select: none;
}
.TileModal .neighborGrid .neighbor.present {
  background-color: #0f0;
}
.TileModal .thumbnail {
  width: 48px;
  height: 48px;
  image-rendering: pixelated;
}
.TileModal .tileid {
  font-size: 24pt;
  font-weight: bold;
}
.TileModal .macros {
  display: flex;
  flex-direction: column;
}
.TileModal .macros > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.PoiModal {
  display: flex;
  flex-direction: column;
}
.PoiModal > form {
  display: flex;
  flex-direction: column;
}
.PoiModal .key {
  text-align: right;
}
.PoiModal input[name='literal'] {
  min-width: 400px;
}
.PoiModal .kitchen > label {
  display: block;
}
.PoiModal .merchant > label {
  display: block;
}

.CommandsModal {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.CommandsModal > .list > .row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.25em;
}
.CommandsModal .buttons {
  display: flex;
  flex-direction: row;
}
.CommandsModal .command {
  flex: 1;
  margin-left: 1em;
}
.CommandsModal .command > input {
  width: 100%;
}
.CommandsModal .controls {
  display: flex;
  flex-direction: row;
}
.CommandsModal .spacer {
  flex: 1;
}
.CommandsModal .validation {
  width: 1em;
  height: 1em;
  border: 1px solid #000;
}
.CommandsModal .validation.valid {
  background-color: #0f0;
}
.CommandsModal .validation.invalid {
  background-color: #f00;
}
.CommandsModal .validation.questionable {
  background-color: #ff0;
}

.SpriteEditor {
  display: flex;
  flex-direction: column;
}
.SpriteEditor td.value > input {
  width: calc(100% - 10px); /* 100% in a <td> for some reason is slightly wider than 100%. */
}
.SpriteEditor tr.image td.value {
  display: flex;
  flex-direction: row;
}
.SpriteEditor tr.image input[type='button'] {
  width: 3em;
}
.SpriteEditor tr.tile td.value {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SpriteEditor tr.tile input[name='tileid'] {
  width: 5em;
}
.SpriteEditor tr.tile canvas.tilePreview {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  cursor: pointer;
  margin-right: 0.25em;
}
.SpriteEditor > textarea[name='other'] {
  height: 10em;
}

.PickImageModal {
  display: flex;
  flex-direction: row;
}
.PickImageModal > .col {
  display: flex;
  flex-direction: column;
}
.PickImageModal button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 128px;
}
.PickImageModal button > img {
  max-width: 128px;
  max-height: 128px;
  margin-right: 1em;
}

.MapSizeModal {
  display: flex;
  flex-direction: column;
}
.MapSizeModal .row {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.GenerateSaveModal input[name='encoded'] {
  min-width: 500px;
}
